<nav xmlns:th="http://www.thymeleaf.org"
     class="navbar navbar-expand-lg bg-primary navbar-dark">
    <div class="container-fluid">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li><a class="navbar-brand" th:href="@{/}">Home</a></li>
            <li><a class="nav-link" th:href="@{/todos/all}">To-Dos</a></li>
            <li><a class="nav-link" th:href="@{/users/all}">List of Users</a></li>
            <li><a class="nav-link" th:href="@{/states}">Manage States</a></li>
        </ul>
    </div>
</nav>
